/**:root{}**/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  word-break: keep-all;
}
div, img, svg, video,figure, blockquote, p, span, a, h1, h2, h3 {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-style: none;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
.flex {
  display: flex;
}
.marquee {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}



.content {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #2c2c2c;
  color: #fff;
}

.container {
  min-width: 1400px;
  width: 100%;
  margin: 0 auto;
}



.sc-intro {
  padding: 3rem 2rem 2rem;
}
.sc-intro canvas {
  display: block;
  margin: 0 auto;
  width: 406px !important;
  height: auto !important;
  cursor: move;
}




.sc-pfwp {
  padding-block: 3rem;
}

.sc-pfwp .bx {
  width: 1200px;
  margin: auto;
  padding: 0 5rem;
}
.sc-pfwp .grid {
  gap: 4rem;
  align-items: center;
}
.sc-pfwp .tx-wp p {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
}
.sc-pfwp .flex {
  gap: 1rem;
  align-items: center;
}
.sc-pfwp .circle {
  position: relative;
  width: 108px;
  height: auto;
}
.sc-pfwp .circle svg {
  fill: none;
  stroke: #35D;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-dasharray: 2;
  stroke-dashoffset: 0;
  animation: stroke-draw 6s ease-out infinite alternate;
}
.sc-pfwp .circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  border-radius: 50%;
}
.sc-pfwp .css-pf img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  filter: grayscale(0.1);
}
.sc-pfwp .css-txpf span {
  display: block;
  line-height: 1.5;
}

.sc-pfwp .css-txpf .txene {
  font-size: 1.7rem;
  font-weight: bold;
}



.sc-skwp {
  width: 1216px;
  margin: 0 auto;
  padding: 1rem 4rem;
}
.sc-skwp .css-banner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 34px;
  border-radius: 15px;
  background: rgb(146 151 179 / 20%);
  margin: 0 0 34px;
}
.sc-skwp .css-banner p {
  padding: 4px 16px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
.sc-skwp .flex {
  position: relative;
  gap: 37rem;
  mask-image: linear-gradient(var(--mask-direction, to right), hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
}
.sc-skwp .marquee {
  gap: 3.75rem;
  padding-inline: 1.875rem;
  animation: animation 90s linear infinite;
}



.sc-pfltwp {
  width: 1216px;
  margin: 0 auto;
  padding: 3rem 6rem;
}
.sc-pfltwp .css-header {
  padding: 2rem 1rem;
}
.sc-pfltwp .css-header .hrte {
  font-weight: 400px !important;
}
.sc-pfltwp .css-header .sbte {
  color: #ffffffb2;
  font-size: 12px;
}
.sc-pfltwp .css-gdwp {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.sc-pfltwp .imwp {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 254px;
  margin-bottom: 1rem;
  flex-direction: column;
  background: rgb(146 151 179 / 4%);
  border-radius: 15px;
  border: max(1px, 0.0625rem) solid rgba(123 89 212 / 20%);
  transition: 0.4s;
  cursor: pointer;
  
}
.sc-pfltwp .item-tewp {
  width: 100%;
  padding: 20px 24px 0;
  box-sizing: border-box;
}
.sc-pfltwp .item-tewp a {
  color: #fff;
  font-size: 13px;
}
.sc-pfltwp .item-tewp .sbte {
  color: #ffffffb2;
  font-size: 11px;
}
.sc-pfltwp .item-iewp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-pfltwp .item-iewp img {
  width: 196px;
  position: absolute;
  transition: transform .3s ease;
}
.sc-pfltwp .item-iewp img[data-animation-index="0"] {
  top: 34px;
  right: 40px;
  z-index: 2;
}
.sc-pfltwp .item-iewp img[data-animation-index="1"] {
  top: 48px;
  right: 24px;
  transform: rotate(0deg);
}


.box-progress-wrapper {
  padding: 0 30px;
  font-size: 11px;
  color: #ffffffb2;
}
.box-progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ffffff2b;
  margin: 8px 0;
}
.box-progress {
  display: block;
  height: 4px;
  border-radius: 6px;
}
.box-progress-percentage {
  text-align: right;
}



@keyframes animation {
  0% {
    transform: translateX(0);
}
100% {
    transform: translateX(-100%);
}
}
@keyframes stroke-draw {
  from {
    stroke: #35D;
    stroke-dasharray: 1;
  }
  to {
    stroke: #67F;
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
}
