/**:root{}**/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;  
}
div, img, svg, video,figure, blockquote, p, span {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-style: none;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}
.flex {
  display: flex;
}
.marquee {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}



.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #2c2c2c;
  color: #fff;
}




.sc-intro {
  padding-block: 1rem;
}
.sc-intro canvas {
  display: block;
  margin: 0 auto;
  width: 470px !important;
  height: auto !important;
  cursor: move;
}




.sc-pfwp {
  padding-block: 5rem 3rem;
}

.sc-pfwp .bx {
  width: 1200px;
  margin: auto;
  padding: 0 5rem;
}
.sc-pfwp .grid {
  gap: 4rem;
  align-items: center;
}
.sc-pfwp .tx-wp p {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: -0.0275rem;
  font-weight: 400;
  word-break: keep-all;
}
.sc-pfwp .flex {
  gap: 1rem;
  align-items: center;
}
.sc-pfwp .css-pf img {
  width: 4rem;
  height: auto;
  border-radius: 50%;
  filter: grayscale(0.1);
}
.sc-pfwp .css-txpf span {
  display: block;
  line-height: 1.2;
}

.sc-pfwp .css-txpf .txene {
  font-size: 1.7rem;
  font-weight: bold;
}



.sc-skwp {
  padding-block: 2.5rem;
  overflow-x: hidden;
}
.sc-skwp .css-banner {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 34px;
  border-radius: 15px;
  background: rgb(146 151 179 / 20%);
  margin: 0 24px 34px;
}
.sc-skwp .css-banner p {
  padding: 4px 16px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
.sc-skwp .flex {
  gap: 32rem;
  mask-image: linear-gradient(var(--mask-direction, to right), hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
}
.sc-skwp .marquee {
  gap: 3.75rem;
  padding-inline: 1.875rem;
  animation: animation 90s linear infinite;
}

@keyframes animation {
  0% {
    transform: translateX(0);
}
100% {
    transform: translateX(-100%);
}
}


.circle {
  position: relative;
  width: 5.4rem;
  height: auto;
}
.circle svg {
  fill: none;
  stroke: #35D;
  stroke-linecap: round;
  stroke-width: 3;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation: stroke-draw 6s ease-out infinite alternate;
}
.circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  border-radius: 50%;
}
@keyframes stroke-draw {
  from {
    stroke: #35D;
    stroke-dasharray: 1;
  }
  to {
    stroke: #67F;
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
}